<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    /*修改头像*/
    .modify {
        margin-left: 26px;
        margin-top: 10px;
    }

    .modify a:link {
        text-decoration: none;
    }

    /*上传文件*/
    .modify .file {
        display: flex;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>ajax图片上传</title>
</head>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Form提交表单页面不跳转</title>
</head>
<body>
<form action="" id="" method="post" target="id_iframe">
    <input type="text" id="input_text" name="input_text"/>
    <input type="submit" id="sobmit" name="submit" value="提交" />
</form>
<iframe id="id_iframe" name="id_iframe" style="display:none;"></iframe>
</body>
</html>
