a{ text-decoration:none}
.blog-list .item .intro {
    font-size: 0.875rem;
}
.blog-list .item .more-link {
    font-size: 0.8125rem
}
.ma-body {
    flex: 1;
    width:70%;
    margin-left: 15%;
}
.media {
    display: flex;
    align-items: flex-start;
    margin: 2%;
}
.mb-5{
    margin-bottom: 3rem !important
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 768px) {
    .p-md-5 {
        padding: 3rem !important
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

.img_bbs{
    width: 125px;
    height: 125px;
    margin-top: 5px;
}
.right_cont {
    margin: 0 auto;
    padding:5%;
    width: 80%;
    background: white;

}
/*横线*/
.user_hr {
    margin-top: 35px;
    margin-bottom: 20px;
    border-top: 1px solid #E0E0E0;
}
/*头像部分*/
.header {
    float: left;
}
/*头像样式*/
.head {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
/*修改头像*/
.modify {
    margin-left: 26px;
    margin-top: 10px;
}

.modify a:link {
    text-decoration: none;
}
/*上传文件*/
.modify .file {
    display: flex;
}
/*右边样式*/
.right_c {
    width:60%;
    margin-left: 30%;
}
.left_c{
    width:20%;
    float: left;
}
/*ID样式*/
.id_name {
    color: #999999;
}
/*竖线样式*/
.splits {
    color: #E0E0E0;
}
/*属性样式*/
.csdn_info {
    margin-top: 10px;
}

.csdn_info a:link {
    text-decoration: none;
}

.charge a:link {
    text-decoration: none;
}
/*横线*/
.user_hr2 {
    margin-top: 18px;
    margin-bottom: 12px;
    border-top: 1px solid #E0E0E0;
}
/*列表样式*/
.self {
    list-style: none;
    margin-left: -40px;
}
/*单项样式*/
.self li {
    margin-top: 6px;
    margin-bottom: 18px;
}
.img_ava{
    margin:6px;
    width: 50px;
    height: 50px;
}
.img_contain{
    border: 1px dotted #c0c0c0;
    width: 100%;
}