<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" th:fragment="content-wrapper">
    <h1>
        Hello
        <small>Fighting</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p>
                    <em>BBS</em> 留言板<br/>
                    <strong>RBAC</strong>
                </p>
            </div>
        </div>
    </div>
</section>
</html>